#Листинг 12.38: Ruby JavaScript (RJS) для уничтожения взаимоотношения. app/views/relationships/destroy.js.erb

$("#follow_form").html("<%= escape_javascript(render('users/follow')) %>");
$("#followers").html('<%= @user.followers.count %>');

