<!--#Листинг 12.16: Партиал для отображения статистики. app/views/shared/_stats.html.erb
user.following.name = <%#= @user.following.name %>   :12.23 app/views/users/show.html.erb   #<% @user ||= current_user %>
user.id in shared/_stud.html.erb = <%= @user.id %>

 #Листинг 11.37: Партиал формы для создания микросообщений. app/views/shared/# #_stud_form.html.erb  11.57 :11.62 shared/_stud_form.html.erb-->

<%#= form_for(@stud) do |f| %>
<%#= form_for(@student) do |f| %>
<%#= form_for(@micropost) do |f| %>

  <%= render 'shared/error_messages', object: f.object %>
  
<div class="field">Compose new user_id for student
    <%= f.text_area :user_id, placeholder: "Compose new user_id for student" %>
</div>


<%#= @user.student.fio %>
  <%= f.submit "Post", class: "btn btn-primary" %>

 <span class="picture">
        <%#= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
end
<% end %>



