<!--  #Листинг 7.19: Партиал для отображения сообщений об ошибках отправки формы. app/#views/shared/_error_messages.html.erb   -->
<!-- 
<%# if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%#= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <%# @user.errors.full_messages.each do |msg| %>
      <li><%#= msg %></li>
    <%# end %>
    </ul>
  </div>
<%# end %>
-->

