<!-- Листинг 11.37: Партиал формы для создания микросообщений. app/views/shared/# #_micropost_form.html.erb  11.57 :11.62  shared/_micropost_form.html.erb -->

<% if logged_in? %>
----





<% @user ||= current_user %>
<%# =@current_user.id %>
<%# = @student.user.id %>
<% end %>

_student_form <p> current_user.name=<%= current_user.name %>
current_user.id=<%= current_user.id %>

<p>
create student for user /_student_form <%#= student.user_id %> <p>

<%= form_for(@student) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
 <div class="field">
    <%#= f.text_area :user_id, placeholder: "Compose new student.user_id.." %>



user_id=<%= f.number_field :user_id %>
fio=<%= f.text_field :fio %>
  </div>
  


<%= f.submit "Create student only 1 time! ", class: "btn btn-primary" %>

 <span class="picture">
        <%#= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>


