<!-- Листинг 11.37: Партиал формы для создания микросообщений. app/views/shared/# #_micropost_form.html.erb  11.57 :11.62  shared/_micropost_form.html.erb -->

<% @user ||= current_user %>
<%= form_for(@student) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
 


<div class="field">  
<%= f.number_field :user_id %>
</div>

fio 
<div class="field">
    <%#= f.text_area :fio, placeholder: "Compose new student.fio.." %>
<%#= f.number_field :user_id %>
<%#= f.number_field :id %>
<%#= f.text_field :fio %>
  </div>


<%= f.submit "Post", class: "btn btn-primary" %>

 <span class="picture">
        <%#= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
<% end %>


